<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        create category |
        <%= siteName %>
    </title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%- include('../imports/css.ejs') %>

</head>

<style>
    .product-image-container {
        display: flex;
        justify-content: center;
    }
</style>

<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">
        <%- include('../partials/admin_header.ejs') %>
            <%- include('../partials/admin_slider.ejs') %>

                <div class="content-wrapper">

                    <section class="content-header">
                        <h1>
                            Create new category
                        </h1>
                    </section>

                    <section class="content">
                        <div class="row">
                            <div class="col-md-12 offset-md-3">
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">create Category</h3>
                                    </div>
                                    <form method="POST" action="/admin/category/create" enctype="multipart/form-data">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="name">Category Name:</label>
                                                <input type="text" class="form-control" id="name" name="name" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="description">Category Description:</label>
                                                <textarea class="form-control" id="description" name="description"
                                                    rows="3" required></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="image">Category Image:</label>
                                                <input type="file" class="form-control-file" id="image" name="image"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="box-footer">
                                            <button type="submit" class="btn btn-primary">Create</button>
                                        </div>
                                    </form>
                                </div>
                            </div>


                    </section>
                </div>

                <%- include('../partials/admin_footer.ejs') %>

                    <div class="control-sidebar-bg"></div>
    </div>
    <%- include('../imports/js.ejs') %>
</body>

</html>