<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        coupon list |
        <%= siteName %>
    </title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%- include('../imports/css.ejs') %>

</head>

<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">
        <%- include('../partials/admin_header.ejs') %>
            <%- include('../partials/admin_slider.ejs') %>

                <div class="content-wrapper">

                    <section class="content-header">
                        <h1>
                            coupon list
                            <small>it all in here</small>
                        </h1>
                    </section>

                    <section class="content">

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Coupon Table</h3>
                                        <div class="box-tools">
                                            <form class="input-group input-group-sm hidden-xs" style="width: 150px;"
                                                method="get">
                                                <input type="text" name="search" class="form-control pull-right"
                                                    placeholder="Search" value="<%= search %>">
                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-default"><i
                                                            class="fa fa-search"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="box-body table-responsive no-padding">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr class="text-center">
                                                    <th class="text-center">name</th>
                                                    <th class="text-center">code</th>
                                                    <th class="text-center">discount (%)</th>
                                                    <th class="text-center">number Of Usage</th>
                                                    <th class="text-center">number Of Usage left</th>
                                                    <th class="text-center">status</th>
                                                    <th class="text-center">Validity</th>
                                                    <th class="text-center">expiry</th>
                                                    <th class="text-center">action</th>
                                                </tr>
                                                <% for (let i=0; i < newCoupon.length; i++) { %>
                                                    <tr class="text-center">
                                                        <td>
                                                            <%= newCoupon[i].name %>
                                                        </td>
                                                        <td>
                                                            <%= newCoupon[i].code %>
                                                        </td>
                                                        <td>
                                                            <%= newCoupon[i].discount %> %
                                                        </td>
                                                        <td>
                                                            <%= newCoupon[i].numberOfUsage %>
                                                        </td>
                                                        <td>
                                                            <%= newCoupon[i].numberOfUsageLeft %>
                                                        </td>
                                                        <td>
                                                            <% if (newCoupon[i].status=='Active' ) { %>
                                                                <span class="label label-success">active</span>
                                                                <% } else { %>
                                                                    <span class="label label-danger">inactive</span>
                                                                    <% } %>
                                                        </td>
                                                        <td>
                                                            <%= newCoupon[i].Validity %>
                                                        </td>
                                                        <td>
                                                            <%= newCoupon[i].expiryDate %>
                                                        </td>
                                                        <td>
                                                            <a href="/admin/coupon/edit/<%= newCoupon[i].id %>"
                                                                class="btn btn-primary btn-xs">edit</a>
                                                        </td>
                                                    </tr>
                                                    <% } %>

                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="box-footer clearfix">
                                        <ul class="pagination pagination-sm no-margin pull-right">
                                            <li><a href="#">«</a></li>
                                            <% for(let i=1 ; i <=page ; i++) { %>
                                                <li><a href="?page=<%= i %>&search=<%= search %>">
                                                        <%= i %>
                                                    </a></li>
                                                <% } %>
                                                    <li><a href="#">»</a></li>
                                        </ul>
                                    </div>

                                    <!-- <div class="box-footer clearfix">

                                    </div> -->
                                </div>

                            </div>
                        </div>

                    </section>

                </div>

                <%- include('../partials/admin_footer.ejs') %>

                    <div class="control-sidebar-bg"></div>
    </div>
    <%- include('../imports/js.ejs') %>
</body>

</html>