<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        dashboard |
        <%= siteName %>
    </title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%- include('../imports/css.ejs') %>

</head>

<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">
        <%- include('../partials/admin_header.ejs') %>
            <%- include('../partials/admin_slider.ejs') %>

                <div class="content-wrapper" style="min-height: 926.281px;">

                    <section class="content-header">
                        <h1>
                            Dashboard
                            <small>Version 2.0</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                            <li class="active">Dashboard</li>
                        </ol>
                    </section>

                    <section class="content">

                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-aqua"><i class="fa fa-fw fa-cart-plus"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">New order to day</span>
                                        <span class="info-box-number">90<small> Products</small></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-aqua"><i class="fa fa-fw fa-cart-arrow-down"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Order to confirm</span>
                                        <span class="info-box-number">20<small> Products</small></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-red"><i class="glyphicon glyphicon-shopping-cart"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Order To refund</span>
                                        <span class="info-box-number">90<small> Products</small></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-green"><i class="fa fa-fw fa-opencart"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">cart success</span>
                                        <span class="info-box-number">41,410 Products</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Sales</span>
                                        <span class="info-box-number">760</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-yellow"><i
                                            class="ion ion-ios-people-outline"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">New Members</span>
                                        <span class="info-box-number">2,000</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-yellow"><i
                                            class="ion ion-ios-people-outline"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Total Members</span>
                                        <span class="info-box-number">2,000</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>

                <%- include('../partials/admin_footer.ejs') %>

                    <div class="control-sidebar-bg"></div>
    </div>
    <%- include('../imports/js.ejs') %>
</body>

</html>