<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        order list |
        <%= siteName %>
    </title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%- include('../imports/css.ejs') %>

</head>

<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">
        <%- include('../partials/admin_header.ejs') %>
            <%- include('../partials/admin_slider.ejs') %>

                <div class="content-wrapper">

                    <section class="content-header">
                        <h1>
                            Oder list
                            <small>it all in here</small>
                        </h1>
                    </section>

                    <section class="content">

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Responsive Hover Table</h3>
                                        <div class="box-tools">
                                            <form class="input-group input-group-sm hidden-xs" style="width: 150px;"
                                                method="get">
                                                <select class="form-control" name="search">
                                                    <option value="">All</option>
                                                    <option value="Pending">Pending</option>
                                                    <option value="Confirmed">Confirmed</option>
                                                    <option value="Delivery">Shipping</option>
                                                    <option value="Cancelled">Cancel</option>
                                                    <option value="Done">Done</option>
                                                </select>
                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-default"><i
                                                            class="fa fa-search"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="box-body table-responsive no-padding">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr>
                                                    <th class="text-center">Date</th>
                                                    <th class="text-center">User</th>
                                                    <th class="text-center">Address</th>
                                                    <th class="text-center">products</th>
                                                    <th class="text-center">totalPrice</th>
                                                    <th class="text-center">Status</th>
                                                    <th class="text-center">note</th>
                                                    <th class="text-center">view</th>
                                                </tr>
                                                <% for (let order of newOrder) { %>
                                                    <tr class="text-center">
                                                        <td>
                                                            <%= order.createdAt %>
                                                        </td>
                                                        <td>
                                                            <a href="/admin/user/<%= order.userId %>">
                                                                <%= order.userProfile.name %>
                                                            </a>
                                                            <br>
                                                            <%= order.userProfile.phone %>
                                                        </td>
                                                        <td>
                                                            <%= order.userProfile.address %>
                                                        </td>
                                                        <td>
                                                            <%= order.products.length %> products
                                                        </td>
                                                        <td>
                                                            <%= order.totalPrice %> $
                                                        </td>
                                                        <td><span class="label <%= order.statusView %>">
                                                                <%= order.status %>
                                                            </span></td>
                                                        <td>
                                                            <%= order.userProfile.note %>
                                                        </td>
                                                        <td>
                                                            <a href="/admin/order/<%= order.id %>"
                                                                class="btn btn-primary">
                                                                <i class="fa fa-eye"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="box-footer clearfix">
                                        <ul class="pagination pagination-sm no-margin pull-right">
                                            <li><a href="#">«</a></li>
                                            <% for(let i=1 ; i <=page ; i++) { %>
                                                <li><a href="?page=<%= i %>&search=<%= searchQuery %>">
                                                        <%= i %>
                                                    </a></li>
                                                <% } %>
                                                    <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </section>

                </div>

                <%- include('../partials/admin_footer.ejs') %>

                    <div class="control-sidebar-bg"></div>
    </div>
    <%- include('../imports/js.ejs') %>
</body>

</html>